body {
  padding: 0px;
  margin: 0px;
  background-color: #333333 !important;
  color: #aaaaaa;
  overflow: hidden;
  width: 100%;
  font-family: sans-serif;
}
#page-container {
  min-width: 500px;
}
.canvas-container {
  z-index: 1;
  width: 100%;
  height: 100%;
}
#audio-player {
  width: 65%;
  float: left;
  position: relative;
  margin: 5px;
}
.music-player-bar {
  width: 100%;
  position: fixed;
  overflow: hidden;
  z-index: 1000;
  bottom: 0px;
  height: 40px;
  background-color: #888888;
  opacity: .6;
}
.music-player-bar .content {
  margin: auto;
  padding: 0px 6px 0px 6px;
  position: relative;
  left: auto;
  width: 490px;
  height: 100%;
  background-color: #41978e;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
#track-info {
  overflow: hidden;
  width: 100%;
  position: fixed;
  z-index: 999;
  top: 0px;
  height: 20px;
  text-align: center;
  left: 27%;
  width: 46%;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  color: white;
  background-color: #41978e;
  opacity: .6;
}
.fade-over-panel {
  width: 465px;
  position: fixed;
  overflow: hidden;
  z-index: 1000;
  bottom: 40px;
}
.fade-over-panel.left-sided {
  left: -404px;
  -webkit-transition: left 1s;
  transition: left 1s;
}
.fade-over-panel.left-sided.slide-out {
  left: 0px;
}
.fade-over-panel.right-sided {
  height: 100px;
  left: 100%;
  margin-left: -63px;
  -webkit-transition: margin-left 1s;
  transition: margin-left 1s;
}
.fade-over-panel.right-sided.slide-out {
  margin-left: -465px;
}
.fade-over-panel .content {
  z-index: 1020;
  padding: 0px;
  background-color: #888888;
  height: 100%;
  width: 400px;
  border-top: 2px solid #aaaaaa;
}
.fade-over-panel .content.left-sided {
  -webkit-border-top-right-radius: 20px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-topright: 20px;
  -moz-border-radius-bottomright: 0px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 20px;
  border-right: 2px solid #aaaaaa;
  float: left;
}
.fade-over-panel .content.right-sided {
  -webkit-border-top-left-radius: 20px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-bottomleft: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 20px;
  border-left: 2px solid #aaaaaa;
  float: right;
}
.quarter-button {
  z-index: 1010;
  background-color: #aaaaaa;
  color: #333333;
  border: none;
  width: 65px;
  height: 40px;
  position: absolute;
  bottom: 0;
  left: 400px;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.quarter-button .description {
  position: relative;
  font-size: 15px;
  padding-top: 10px;
  cursor: pointer;
  height: 100%;
  width: 100%;
}
.quarter-button.left {
  -webkit-border-top-right-radius: 15%;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-topright: 15%;
  -moz-border-radius-bottomright: 0px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 15%;
  float: right;
}
.quarter-button.right {
  -webkit-border-top-left-radius: 15%;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-topleft: 15%;
  -moz-border-radius-bottomleft: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 15%;
  left: 0px;
}
.quarter-button:hover {
  color: black;
  background-color: #dddddd;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.playlist-container {
  margin: 5px 15px 5px 15px;
  min-height: 200px;
}
.playlist-container .position {
  width: 10%;
  float: left;
}
.playlist-container .title {
  width: 70%;
  float: left;
}
.playlist-container .title-actions {
  width: 20%;
  float: left;
  text-align: right;
  top: -3px;
  position: relative;
}
.playlist-container #playlist-list-container {
  min-height: 35px;
}
.playlist-container .playlist-actions {
  float: left;
}
.playlist-container .playlist-actions .button {
  color: lightgreen;
}
.playlist-container .playlist-actions .button.action-clear {
  color: lightcoral;
}
.playlist-container .playlist-actions .button.action-load-default-playlist {
  color: lightblue;
}
.playlist-container .playlist-head {
  height: 20px;
  padding: 5px;
}
.playlist-container .playlist-list {
  color: #333333;
  padding: 0px;
  margin-top: 5px;
}
.playlist-container .playlist-list .playlist-item {
  border: 1px solid #888888;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  list-style-type: none;
  height: 15px;
  padding: 5px;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.playlist-container .playlist-list .playlist-item:hover {
  color: black;
  background-color: #dddddd;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.playlist-container .playlist-list .playlist-item.active {
  border: 1px solid #dddddd;
}
#ascrail2000 {
  padding-left: 10px;
}
.slider {
  float: left;
  cursor: pointer;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  background-color: #aaaaaa;
  border: 2px solid #aaaaaa;
  color: #333333;
  vertical-align: middle;
  text-align: center;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.slider.mid-sized {
  width: 60px;
  margin: 10px;
}
.button {
  float: left;
  cursor: pointer;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  background-color: #aaaaaa;
  border: 2px solid #aaaaaa;
  color: #333333;
  vertical-align: middle;
  text-align: center;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.button.mid-sized {
  width: 20px;
  height: 18px;
  padding: 6px 4px 3px 4px;
  margin: 4px;
}
.button.small-sized {
  background-color: inherit;
  border: 2px solid transparent;
  width: 15px;
  height: 14px;
  padding: 0px;
  margin: 0px;
  font-size: 11pt;
}
.color-fade.button:hover {
  border: 2px solid #dddddd;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.jump.button:hover {
  margin-top: -2px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.button.active {
  border: 2px solid #dddddd;
  color: black;
  background-color: #dddddd;
}
.button.active:hover {
  border: 2px solid #888888;
}
.right-sided {
  float: right;
}
.left-sided {
  float: left;
}
.hidden {
  display: none;
  visibility: hidden;
}
.container {
  padding: 0px;
}
.centered {
  text-align: center;
  vertical-align: center;
}
.right-float {
  float: right;
}
.left-float {
  float: left;
}
