body {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #333333 !important;
  color: #aaaaaa;
  overflow: hidden;
  width: 100%;
}
.fade-over-panel {
  width: 454px;
  position: fixed;
  overflow: hidden;
  z-index: 1001;
  top: 13%;
  height: 86%;
}
.fade-over-panel.right-sided {
  left: 100%;
}
.fade-over-panel .content {
  padding: 0px;
  width: 450px;
  background-color: #888888;
  height: 100%;
  width: 400px;
  border-top: 2px solid #c7e5e5;
}
.fade-over-panel .content.left-sided {
  -webkit-border-top-right-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
  -moz-border-radius-topright: 20px;
  -moz-border-radius-bottomright: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  border-right: 2px solid #c7e5e5;
  float: left;
}
.fade-over-panel .content.right-sided {
  -webkit-border-top-left-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-bottomleft: 20px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border-left: 2px solid #c7e5e5;
  float: right;
}
.quarter-button {
  position: relative;
  color: black;
  background-color: #c7e5e5;
  border: none;
  width: 50px;
  height: 10%;
  top: 90%;
  min-height: 50px;
  font-size: 22px;
}
.quarter-button.left {
  -webkit-border-top-right-radius: 100%;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-topright: 100%;
  -moz-border-radius-bottomright: 0px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 100%;
  float: right;
}
.quarter-button.right {
  -webkit-border-top-left-radius: 100%;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-topleft: 100%;
  -moz-border-radius-bottomleft: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 100%;
  float: right;
}
.hidden {
  display: none;
  visibility: hidden;
}
.container {
  padding: 0px;
}
.centered {
  text-align: center;
}
.right-float {
  float: right;
}
.left-float {
  float: left;
}
