@darkGrey: #333333;
@grey: #888888;
@lightGrey: #aaaaaa;
@whiteGrey: #dddddd;
@lightGreen: #3cdd68;
@lightRed: #f0002a;
@minWidth: 250px;
@middleCyan: #c7e5e5;
@aqua:#41978E;
@darkBlue: #316C74;
@active: #CFFFD6;

@smallDevicePanelHeight: 100% - @smallDeviceFooterHeight - @smallDeviceLayoutBuffer;
@smallDevicePanelWidth: 80%;
@smallDeviceHeaderHeight: 12%;
@smallDeviceFooterHeight: 13%;
@smallDeviceFooterTop: 100% - @smallDeviceFooterHeight;
@smallDeviceLayoutBuffer: 1%;
@smallDeviceInnerHeight: 100% - @smallDeviceHeaderHeight - @smallDeviceFooterHeight - 2*@smallDeviceLayoutBuffer;

@controlsHeight: 50px;
@playerHeight: 40px;
@trackInfoHeight: 20px;
@playerWidth: 50%;

@borderWidth: 2px;
@sliderContentWidth:400px;

@smallDeviceButtonWidth: 15%;

@navigationButtonRoundness: 80%;

body {
  padding: 0px;
  margin: 0px;
  background-color: @darkGrey !important;
  color: @lightGrey;

  // no scrolling on mobile devices
  overflow:hidden;
  width:100%;

  font-family: sans-serif;
}

#page-container{
  min-width: 500px;
}


// CANVAS -----------------------------------------------------------------------

.canvas-container{
  z-index: 1;
  width: 100%;
  height: 100%;
}


// OVERLAY ----------------------------------------------------------------------

#overlay{
  display: none;
  background-color: @aqua;
  opacity: .7;
  position: absolute;
  top: 0px;
  z-index: 1000;
  width: 100%;
  height: 100%;
  text-align: center;
  span{
    position: relative;
    top: 24%;
    color: white;  
    font-size: 300%;
    font-style: oblique;  
  }
}

// MUSIC PLAYER -----------------------------------------------------------------
#audio-player{
  width: 65%;
  float: left;
  position: relative;
  margin: 5px;
}

.music-player-bar{

  width:100%;
  position: fixed;
  overflow: hidden;
  z-index: 1000;
  bottom: 0px;
  height: @playerHeight;

  background-color: @grey;
  opacity: .9;

  .content{
    margin: auto;
    padding: 0px 6px 0px 6px;
    position: relative;
    left: auto;//(100% - @playerWidth) / 2;
    width:490px;
    height:100%;
    background-color: @darkBlue;

    .rounded-corners;
  }

  .player-info{
    width: 40PX;
    float: left;
    height: 20PX;
    padding: 8px 0px 5px 5px;
    margin: 4px; 
    color: cyan;   
  }

}

#visu-select-wrapper{
  position: fixed;
  z-index: 999;
  top: 24px;
  height: @trackInfoHeight;
  left:37%;
  width:100%;

}

#visu-select{
  width:95px;
  width: 27%;
  background-color: @darkBlue;
  color: white;  
  height: 25px;
  font-size: 90%;
}

#track-info{
  overflow: hidden;
  width:100%;
  position: fixed;
  z-index: 999;
  top: 2px;
  height: @trackInfoHeight;
  text-align: center;
  left:37%;
  width:27%;

  .rounded-corners-bottom();
  color: white;
  background-color: @darkBlue;
  opacity: .9;  
}


// PANEL ---------------------------------------------------------------------
.fade-over-panel{

  
  position: fixed;
  overflow: hidden;
  z-index: 1000;
  bottom:@playerHeight;
  // height: @controlsHeight;

  &.left-sided{
    width:475px;
    left: -@sliderContentWidth - @borderWidth*2;
    -webkit-transition: left 1s;
    transition: left 1s;
    &.slide-out{
      left: 0px;
    }  
  }

  &.right-sided{
     width:397px;
     left: 100%;
     margin-left: -65px + @borderWidth;
    -webkit-transition: margin-left 1s;
    transition: margin-left 1s;
    &.slide-out{
      margin-left: -397px;
    }
  }    

  .content{
    z-index: 1020;
    padding: 0px;
    background-color: @grey;
    height: 100%;
    border-top: @borderWidth solid @lightGrey;

    &.left-sided{
      .rounded-button-left-bottom(20px);
      border-right: @borderWidth solid @lightGrey;
      float: left;
      width:400px;
    }

    &.right-sided{
      .rounded-button-right-bottom(20px);
      border-left: @borderWidth solid @lightGrey; 
      float: right;
      width:332px;
    }
  }

}

.quarter-button{
  z-index: 1010;
  background-color: @darkBlue;
  color: aliceblue;
  border: none;
  width: 65px;
  height: 40px;
  position: absolute;
  bottom: 0;
  left: 400px;

  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;    

  .description{
    position: relative;
    font-size: 15px;
    padding-top: 10px;
    cursor: pointer;
    height: 100%;
    width: 100%;
  }

  &.left{
    .rounded-button-left-bottom(15%);
    float: right;
  }

  &.right{
    .rounded-button-right-bottom(15%);
    left:0px;       
  }

  &:hover
  {
    color: black;
    background-color: @whiteGrey;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
  }  

}

// EFFECTS ------------------------------------------------------------------

#effects-container{

  select {
   width: 100%;
   background-color: #A6B6B8;
   width: 100px;
   padding: 5px;
   font-size: 12px;
   border: 1px solid aliceblue;
   height: 25px;
   color: aliceblue;
  }

  margin: 10px 5px 5px 5px;
  min-height: 200px;
  // max-height: 377px;

  .effect-wrapper{
    overflow: hidden;
    background-color: cadetblue;
    width: 100%;
    margin: 5px 0px 5px 0px;
    padding: 8px 1px 5px 0px;
    .rounded-corners(3px);
    color: lightgrey;

      -webkit-transition: all 0.4s ease-out;
      -moz-transition: all 0.4s ease-out;
      -o-transition: all 0.4s ease-out;
      transition: all 0.4s ease-out;      

    &.inactive{
      background-color: #aaaaaa;
      color: rgb(196, 196, 196);
      height: 36px !important;
      .controls{
        // display:none;
      }
    }

    &.microphone{
      height: 36px;
    }

    &.wave{
      height: 62px;
    }

    &.equalizer{
      height: 290px;
    } 

    &.bass-boost{
      height: 36px;
    }

    &.filter{
      height: 105px;
    }          

    .header{
      padding: 3px;
      background-color: #316C74;
      .effect-name{
        // float:left;
      }
      .head-left{
        float: left;
        margin-left: 18px;
        margin-top: 5px;
        color: aliceblue;        
      }
      .head-mid{
        float: left;
        margin-left: 5px;
        margin-top: 1px;
        margin-left: 11px;
      }
      .head-right{
        float: right;
        margin-right: 8px;
      }    
    }

    .header:after {
      content:"";
      display:table;
      clear:both;
    }     

    .controls{
        margin-top: 5px;
      .checkbox{
        padding: 3px;
        float: left;
      }
      .slider-set{
        height:23px;
      }
    }

    .output{
      float: left;
      padding: 3px 3px 3px 22px;
      font-size: 90%;
      .inner{
        float: left;
        min-width: 45px;
      }
      .slider-output{
        padding-left: 3px;
        min-width: 25px;
        // float:left;
      }
    }

  }


}




// PLAYLIST ------------------------------------------------------------------

.playlist-container{

  margin: 5px 15px 5px 15px;
  min-height: 200px;

  .position{
    width: 10%;
    float: left;
  }
  .title{
    width: 70%;
    float: left;
  }
  .title-actions{
    width: 20%;
    float: left;
    text-align: right;
    top: -3px;
    position: relative;
  }

  #playlist-list-container{
    min-height: 35px;
  }

  .playlist-actions{
    float: left;
    .button{
      color: lightgreen;
      &.action-clear{
        color: lightcoral;
      }
      &.action-load-default-playlist {
        color: lightblue;
      }      
    }
  }

  .playlist-head{
    height: 20px;
    padding: 5px;
  }


  .playlist-list{
    color: @darkGrey;
    padding: 0px;
    margin-top: 5px;

    .playlist-item{
      border: 1px solid @grey;
      .rounded-corners;
      cursor: pointer;
      list-style-type: none;
      height: 15px;
      padding: 5px;
      -webkit-transition: all 0.4s ease-out;
      -moz-transition: all 0.4s ease-out;
      -o-transition: all 0.4s ease-out;
      transition: all 0.4s ease-out;      
      &:hover
      {
        color: black;
        background-color: @whiteGrey;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
      }
      &.active{
        border: 1px solid @whiteGrey;
      }
    }
  }
}

// SCROLL BAR --------------------------------------------------------------------

#ascrail2000{
  padding-left: 10px;
}

// HELPER CLASSES ----------------------------------------------------------------

.slider{
  float: left;
  cursor: pointer;

  .rounded-corners(2px);
  background-color: @lightGrey;
  border: 2px solid @lightGrey;
  color: @darkGrey;
  vertical-align: middle;
  text-align: center;  
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;

  &.mid-sized{
    width: 60px;
    margin: 10px;
  }
  &.big-sized{
    width: 120px;
    margin: 10px;
  }
  &.medium-sized{
    width: 145px;
    margin-left: 7px;
  }    
  &.bigger-sized{
    width: 200px;
    margin-left: 7px;
  }    
  &.very-big-sized{
    width: 90%;
    margin-left: 7px;
  }      
}


.button{
  float: left;
  cursor: pointer;

  .rounded-corners(2px);
  background-color: @lightGrey;
  border: 2px solid @lightGrey;
  color: @darkGrey;
  vertical-align: middle;
  text-align: center;  
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;

  &.mid-sized{
    width: 20px;
    height: 18px;
    padding: 6px 4px 3px 4px;
    margin: 4px;
  }

  &.small-sized{
    background-color: inherit;
    border: 2px solid transparent;
    width: 15px;
    height: 14px;
    padding: 0px;
    margin: 0px;
    font-size: 11pt;
  }  

  .color-fade&:hover
  {
    border: 2px solid @whiteGrey;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
  }

  .jump&:hover
  {
     margin-top: -2px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
  }  

  &.active{
    border: 2px solid @whiteGrey;
    color: black;
    background-color: @whiteGrey;    

    &:hover
    {
      border: 2px solid @grey;
    }
  }

}


.right-sided{
  float: right;
}

.left-sided{
  float: left;
}

.hidden{
  display: none;
  visibility: hidden;
}

.container{
  padding:0px;
}

.centered{
  text-align: center;
  vertical-align: center;
}

.right-float{
  float: right;
}

.left-float{
  float: left;
}

.padding(@top, @bottom, @left, @right){
  padding-top: @top;
  padding-bottom: @bottom;
  padding-left: @left;
  padding-right: @right;   
}
.margin(@top, @bottom, @left, @right){
  margin-top: @top;
  margin-bottom: @bottom;
  margin-left: @left;
  margin-right: @right;   
}

.solid-border(@color){
  border-width: 1px;
  border-style: solid;
  border-color: @color;  
}

.rounded-corners (@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

.rounded-corners-bottom (@radius: 5px) {
  -webkit-border-bottom-right-radius: @radius;
  -webkit-border-bottom-left-radius: @radius;
  -moz-border-radius-bottomright: @radius;
  -moz-border-radius-bottomleft: @radius;
  border-bottom-right-radius: @radius;
  border-bottom-left-radius: @radius;
}

.rounded-corners-top (@radius: 5px) {
  -webkit-border-top-right-radius: @radius;
  -webkit-border-top-left-radius: @radius;
  -moz-border-radius-topright: @radius;
  -moz-border-radius-topleft: @radius;
  border-top-right-radius: @radius;
  border-top-left-radius: @radius;
}

.rounded-corners-left (@radius: 5px) {
  -webkit-border-top-left-radius: @radius;
  -webkit-border-bottom-left-radius: @radius;
  -moz-border-radius-topleft: @radius;
  -moz-border-radius-bottomleft: @radius;
  border-bottom-left-radius: @radius;
  border-top-left-radius: @radius;
}

.rounded-corners-right (@radius: 5px) {
  -webkit-border-top-right-radius: @radius;
  -webkit-border-bottom-right-radius: @radius;
  -moz-border-radius-topright: @radius;
  -moz-border-radius-bottomright: @radius;
  border-bottom-right-radius: @radius;
  border-top-right-radius: @radius;
}

.rounded-button-left-bottom(@radius: 5px) {
  -webkit-border-top-right-radius: @radius;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-topright: @radius;
  -moz-border-radius-bottomright: 0px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: @radius;
}

.rounded-button-right-bottom(@radius: 5px) {
  -webkit-border-top-left-radius: @radius;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-topleft: @radius;
  -moz-border-radius-bottomleft: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: @radius;
}


// -- ON/OFF SWITCH ------------------------------------------
// from: http://proto.io/freebies/onoff/
.onoffswitch {
    position: relative; 
    width: 70px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 23px; padding: 0; line-height: 23px;
    font-size: 12px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #008A48; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #9B0000; color: #FFFFFF;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 15px; margin: 4px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 20px;
    position: absolute; top: 0; bottom: 0; right: 43px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}