<div class="effect-wrapper wave inactive">
    <div class="header">

     <div class="head-left">
        Sine wave
      </div>
      <div class="head-right">
        <div class="onoffswitch">
          <input type="checkbox" name="wave-effect-toggle" class="onoffswitch-checkbox" id="wave-effect-toggle">
          <label class="onoffswitch-label" for="wave-effect-toggle">
            <span class="onoffswitch-inner"></span>
            <span class="onoffswitch-switch"></span>
          </label>
        </div>
      </div>


<!--       <br><br>
      <input id="sinus-radio"  type="radio" name="wave" checked="checked" value="0"/>
      <label for = "sinus-radio">sinus</label>
      <input id="sqare-radio"  type="radio" name="wave" value="1"/>
      <label for = "sqare-radio">sqare</label>
      <input id="sawtooth-radio"  type="radio" name="wave" value="2"/>
      <label for = "sawtooth-radio">sawtooth</label> 
      <input id="triangle-radio"  type="radio" name="wave" value="3"/>
      <label for="triangle-radio">triangle</label>     -->        
    </div>
    <div class="controls">
    <div class="slider-set">
      <div class="output">
        <div class="inner">Freq.</div>
      </div>  
      <input id="wave-effect-slider" nr="8" class="slider medium-sized" type="range" min="0" max="20000" value="0" step='1'>  
      <div class="output"> <span class="slider-output" id="wave-effect-slider-output">400</span> hz</div>       
    </div>
    </div>   





</div>