<div class="effect-wrapper bass-boost">
  <div class="header">
    <input id="equalizer-bass-toggle" class="checkbox" name="effect-bass" value="0" type="checkbox">
    bass boost  
  </div>
</div>
<div class="effect-wrapper equalizer">
  <div class="header">

    <input id="equalizer-effect-toggle" class="checkbox" name="effect-wave" value="0" type="checkbox">
    activate equalizer
  </div>
  <div class="controls">

    <div class="output">
      <div id="qu-00" class="inner">0.1k</div>
    </div>
    <input id="eq-slider-00" nr="0" class="slider bigger-sized" type="range" min="-50" max="50" value="0" step='1'>
    <div class="output"> <span class="slider-output" id="eq-slider-00-output">0</span> dB</div> 


    <div class="output">
      <div class="inner">0.5k</div>
    </div>
    <input id="eq-slider-01" nr="1" class="slider bigger-sized" type="range" min="-50" max="50" value="0" step='1'>
    <div class="output"> <span class="slider-output" id="eq-slider-01-output">0</span> dB</div>  

    <div class="output">
      <div class="inner">1k</div>
    </div>
    <input id="eq-slider-02" nr="2" class="slider bigger-sized" type="range" min="-50" max="50" value="0" step='1'>  
    <div class="output"> <span class="slider-output" id="eq-slider-02-output">0</span> dB</div> 

    <div class="output">
      <div class="inner">3k</div>
    </div>
    <input id="eq-slider-03" nr="3" class="slider bigger-sized" type="range" min="-50" max="50" value="0" step='1'>  
    <div class="output"> <span class="slider-output" id="eq-slider-03-output">0</span> dB</div>  

    <div class="output">
      <div class="inner">8k</div>
    </div> 
    <input id="eq-slider-04" nr="4" class="slider bigger-sized" type="range" min="-50" max="50" value="0" step='1'>  
    <div class="output"> <span class="slider-output" id="eq-slider-04-output">0</span> dB</div>

    <div class="output">
      <div class="inner">15k</div>
    </div>  
    <input id="eq-slider-05" nr="5" class="slider bigger-sized" type="range" min="-50" max="50" value="0" step='1'>  
    <div class="output"> <span class="slider-output" id="eq-slider-05-output">0</span> dB</div>             

  </div>   
</div>

<div class="effect-wrapper filter">
    <div class="header">
      <input id="filter-test-toggle" class="checkbox" name="effect-bass" value="0" type="checkbox">
      filter types test

      <select id="filter-select">
        <option value="lowpass">lowpass</option>
        <option value="highpass">highpass</option>
        <option value="bandpass">bandpass</option>
        <option value="lowshelf">lowshelf</option>
        <option value="highshelf">highshelf</option>
        <option value="peaking">peaking</option> 
        <option value="notch">notch</option>
        <option value="allpass">allpass</option>                
      </select>    
    </div>

    <div class="controls">
      <input id="filter-frequency" nr="0" class="slider bigger-sized" type="range" min="0" max="20000" value="350" step='5'>
      <div class="output">
        <div class="inner">Freq. <span id="filter-frequency-output"> </span> </div>
      </div> 
      <input id="filter-gain" nr="0" class="slider bigger-sized" type="range" min="-30" max="30" value="1" step='1'>
      <div class="output">
        <div class="inner">Gain <span id="filter-gain-output"> </span> </div>
      </div> 
      <input id="filter-quality" nr="0" class="slider bigger-sized" type="range" min="0" max="3" value="1" step='.1'>
      <div class="output">
        <div class="inner">Quality <span id="filter-quality-output"> </span> </div>
      </div> 
    </div> 
</div>
