<div class="effect-wrapper microphone inactive">

<div class="header">
      <div class="head-left">
        Microphone
      </div>
      <div class="head-right">
        <div class="onoffswitch">
          <input type="checkbox" name="microphone-effect-toggle" class="onoffswitch-checkbox" id="microphone-effect-toggle">
          <label class="onoffswitch-label" for="microphone-effect-toggle">
            <span class="onoffswitch-inner"></span>
            <span class="onoffswitch-switch"></span>
          </label>
        </div>
      </div>
</div>

<div class="controls">
 
</div>    

</div>