<div class="effects-container">
  <div class="effect-wrapper microphone">

    <div class="header">
    <input class="checkbox" name="microphone" value="0" type="checkbox">
      activate microphone (TODO)
    </div>
    <div class="controls">
     
    </div>    
    
  </div>
  <div class="effect-wrapper sinus">
      <div class="header">
        <input class="checkbox" name="sinus-wave" value="0" type="checkbox">
        activate sinus wave
      </div>
      <div class="controls">
        <input id="sinus-slider" class="slider very-big-sized" type="range" min="1" max="22000" value="2000"></input>
      <div class="controls">
      <div class="output">
        <div id="sinus-slider-output" class="inner"></div>
      </div>     
  </div>
</div>