<div class="effect-wrapper bass-boost inactive">
  <div class="header">
    <div class="head-left">
      Bass boost
    </div>
    <div class="head-right">
      <div class="onoffswitch">
        <input type="checkbox" name="equalizer-bass-toggle" class="onoffswitch-checkbox" id="equalizer-bass-toggle">
        <label class="onoffswitch-label" for="equalizer-bass-toggle">
          <span class="onoffswitch-inner"></span>
          <span class="onoffswitch-switch"></span>
        </label>
      </div>
    </div> 
  </div>
</div>

<div class="effect-wrapper equalizer inactive">
  <div class="header">
    <div class="head-left">
      Euqalizer
    </div>
    <div class="head-mid">
      <select id="preset-select">
          <!-- filled in JS (Equalizer.js)  -->              
      </select>         
    </div>    
    <div class="head-right">
      <div class="onoffswitch">
        <input type="checkbox" name="equalizer-effect-toggle" class="onoffswitch-checkbox" id="equalizer-effect-toggle">
        <label class="onoffswitch-label" for="equalizer-effect-toggle">
          <span class="onoffswitch-inner"></span>
          <span class="onoffswitch-switch"></span>
        </label>
      </div>
    </div>
  </div>

  <div class="controls">
    <div class="slider-set">
      <div class="output">
        <div class="inner">32</div>
      </div>
      <input id="eq-slider-00" nr="0" class="slider medium-sized" type="range" min="-20" max="20" value="0" step='1'>
      <div class="output"> <span class="slider-output" id="eq-slider-00-output">0</span> dB</div> 
    </div>
    
    <div class="slider-set">
      <div class="output">
        <div class="inner">64</div>
      </div>
      <input id="eq-slider-01" nr="1" class="slider medium-sized" type="range" min="-20" max="20" value="0" step='1'>
      <div class="output"> <span class="slider-output" id="eq-slider-01-output">0</span> dB</div>  
    </div>

    <div class="slider-set">
      <div class="output">
        <div class="inner">125</div>
      </div>
      <input id="eq-slider-02" nr="2" class="slider medium-sized" type="range" min="-20" max="20" value="0" step='1'>  
      <div class="output"> <span class="slider-output" id="eq-slider-02-output">0</span> dB</div> 
    </div>

    <div class="slider-set">
      <div class="output">
        <div class="inner">250</div>
      </div>
      <input id="eq-slider-03" nr="3" class="slider medium-sized" type="range" min="-20" max="20" value="0" step='1'>  
      <div class="output"> <span class="slider-output" id="eq-slider-03-output">0</span> dB</div>  
    </div>

    <div class="slider-set">
      <div class="output">
        <div class="inner">500</div>
      </div> 
      <input id="eq-slider-04" nr="4" class="slider medium-sized" type="range" min="-20" max="20" value="0" step='1'>  
      <div class="output"> <span class="slider-output" id="eq-slider-04-output">0</span> dB</div>
    </div>

    <div class="slider-set">
      <div class="output">
        <div class="inner">1k</div>
      </div>  
      <input id="eq-slider-05" nr="5" class="slider medium-sized" type="range" min="-20" max="20" value="0" step='1'>  
      <div class="output"> <span class="slider-output" id="eq-slider-05-output">0</span> dB</div>             
    </div>

    <div class="slider-set">
      <div class="output">
        <div class="inner">2k</div>
      </div>  
      <input id="eq-slider-06" nr="6" class="slider medium-sized" type="range" min="-20" max="20" value="0" step='1'>  
      <div class="output"> <span class="slider-output" id="eq-slider-06-output">0</span> dB</div>             
    </div>

    <div class="slider-set">
      <div class="output">
        <div class="inner">4k</div>
      </div>  
      <input id="eq-slider-07" nr="7" class="slider medium-sized" type="range" min="-20" max="20" value="0" step='1'>  
      <div class="output"> <span class="slider-output" id="eq-slider-07-output">0</span> dB</div>             
    </div>

    <div class="slider-set">
      <div class="output">
        <div class="inner">8k</div>
      </div>  
      <input id="eq-slider-08" nr="8" class="slider medium-sized" type="range" min="-20" max="20" value="0" step='1'>  
      <div class="output"> <span class="slider-output" id="eq-slider-08-output">0</span> dB</div>             
    </div>

    <div class="slider-set">
      <div class="output">
        <div class="inner">16k</div>
      </div>  
      <input id="eq-slider-09" nr="9" class="slider medium-sized" type="range" min="-20" max="20" value="0" step='1'>  
      <div class="output"> <span class="slider-output" id="eq-slider-09-output">0</span> dB</div>             
    </div>   

    <div class="slider-set">
      <div class="output">
        <div class="inner">Preamp</div>
      </div>  
      <input id="eq-slider-gain" class="slider medium-sized" type="range" min="0" max="4" value="1" step='.05'>  
      <div class="output"> <span class="slider-output" id="eq-slider-gain-output">100%</span></div>             
    </div>                    

  </div>   
</div>

<div class="effect-wrapper filter inactive">
    <div class="header">
      <div class="head-left">
        Filter
      </div>
      <div class="head-mid">
        <select id="filter-select">
          <option value="lowpass">lowpass</option>
          <option value="highpass">highpass</option>
          <option value="bandpass">bandpass</option>
          <option value="lowshelf">lowshelf</option>
          <option value="highshelf">highshelf</option>
          <option value="peaking">peaking</option> 
          <option value="notch">notch</option>
          <option value="allpass">allpass</option>                
        </select>         
      </div>
      <div class="head-right">
        <div class="onoffswitch">
          <input type="checkbox" name="filter-test-toggle" class="onoffswitch-checkbox" id="filter-test-toggle">
          <label class="onoffswitch-label" for="filter-test-toggle">
            <span class="onoffswitch-inner"></span>
            <span class="onoffswitch-switch"></span>
          </label>
        </div>
      </div>   
    </div>

    <div class="controls">

      <div class="slider-set">
        <div class="output">
          <div class="inner">Freq.</div>
        </div>
        <input id="filter-frequency" nr="0" class="slider medium-sized" type="range" min="0" max="20000" value="350" step='5'>
        <div class="output"><span id="filter-frequency-output"></span> hz</div>
      </div>

      <div class="slider-set">
        <div class="output">
          <div class="inner">Gain</div>
        </div>
        <input id="filter-gain" nr="0" class="slider medium-sized" type="range" min="-25" max="25" value="1" step='1'>
        <div class="output"><span id="filter-gain-output">0 </span> dB</div>
      </div> 

      <div class="slider-set">
        <div class="output">
          <div class="inner">Quality</div>
        </div>
        <input id="filter-quality" nr="0" class="slider medium-sized" type="range" min="0" max="3" value="1" step='.1'>
        <div class="output"> <span id="filter-quality-output">0.9</span> </div>
      </div> 

    </div> 
</div>
