<div class="effect-wrapper wave">
    <div class="header">
      <input id="wave-effect-toggle" class="checkbox" name="effect-wave" value="0" type="checkbox">
      activate wave
      <br><br>
      <input id="sinus-radio"  type="radio" name="wave" checked="checked" value="0"/>
      <label for = "sinus-radio">sinus</label>
      <input id="sqare-radio"  type="radio" name="wave" value="1"/>
      <label for = "sqare-radio">sqare</label>
      <input id="sawtooth-radio"  type="radio" name="wave" value="2"/>
      <label for = "sawtooth-radio">sawtooth</label> 
      <input id="triangle-radio"  type="radio" name="wave" value="3"/>
      <label for="triangle-radio">triangle</label>            
    </div>
    <div class="controls">
      <input id="wave-effect-slider" class="slider bigger-sized" type="range" min="1" max="22000" value="400">
      <div class="output">
        <div id="wave-effect-slider-output" class="inner"></div>
      </div>
    </div>     
</div>