<div id="panel-left" class="left-sided fade-over-panel ">
  <div id="playlist" class="content left-sided">

    <div class="playlist-container">
      <div class="playlist-head">
        <div class="position">#</div>
        <div class="title">Title</div>
        <div class="length"></div>
      </div>
      <div class="clear"></div>
      <div id="playlist-list-container">
        <ul class="playlist-list" id="playlist-list">

        </ul>
      </div>
    </div>
  </div>

  <div class="quarter-button left">
    <div class="description centered action-toggle-panel" refer="panel-left">playlist</div>
  </div>

</div>