<div id="panel-left" class="left-sided fade-over-panel">
  <div id="playlist" class="content left-sided">

    <div class="playlist-container">
      <div class="playlist-head">
        <div class="position">#</div>
        <div class="title">Title</div>
        <div class="length">Length</div>
      </div>
      <div class="clear"></div>
      <ul class="playlist-list" id="playlist-list">

      </ul>
    </div>
  </div>

  <div class="quarter-button left">
    <div class="description centered action-toggle-panel" refer="panel-left">playlist</div>
  </div>

</div>