<div id="panel-left" class="left-sided fade-over-panel ">
  <div id="playlist" class="content left-sided">

    <div class="playlist-container">
      <div class="playlist-head">
        <div class="position">#</div>
        <div class="title">Title</div>
        <div class="playlist-actions">
          <div class="icon-remove button small-sized action-clear jump" title="clear playlist"></div>
          <div class="icon-circleadd button small-sized action-load-default-playlist jump" title="load default playlist"></div>
          <div class="icon-circleadd button small-sized action-add jump" title="add songs"></div>
        </div>
      </div>
      <div class="clear"></div>
      <div id="playlist-list-container">
        <ul class="playlist-list" id="playlist-list">

        </ul>
      </div>
    </div>
  </div>

  <div class="quarter-button left">
    <div class="description centered action-toggle-panel" refer="panel-left">Playlist</div>
  </div>

</div>